//npm.pkg.github.com/:_authToken=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
@equipenico:registry=https://npm.pkg.github.com/
@tkrafael:registry=https://npm.pkg.github.com/
@casanicoletti:registry=https://npm.pkg.github.com/